.selection_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#075698));
}

div.logo {
	width: 25px;
	position:relative;
	margin-right: auto;
	margin-left: auto;
}

img.sidebar_logo {
	width:20px;
}

.right_rail {
	z-index:999999;
	position: fixed;
	right:0;
	top:0;
	width:30px;
	height:100%;
	background-color: #ccc;
	opacity: .5;
	border: 1px solid grey;
}

div.tracr_notification {
	width:150px;
	background-color:#fff;
	opacity:.8;
	border: 1px solid #ff5401;
	border-radius: 2px;
	top: 15px;
	right: 50px;
	position:fixed;
	box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow:	3px 3px 8px #000;
	visibility:hidden;
}