<div class="right_rail_content">
	<div class="tracr_logo tracr_icon">
		<a title="Dismiss windows" href="#" id="tracr_dismiss"><img src="{{img}}" class="sidebar_logo" /></a>
	</div>
	<div class="tracr_topics_icon tracr_icon">
		<a title="My topics" href="#" id="tracr_my_topics"><img src="{{topicsIcon}}" class="sidebar_logo" /></a>
	</div>
	<div class="tracr_explore_icon tracr_icon">
		<a title="Explore this page" href="#" id="tracr_explore"><img src="{{exploreIcon}}" class="sidebar_logo" /></a>
	</div>
	<div class="tracr_hot_icon tracr_icon">
		<a title="See what's hot" href="#" id="tracr_hot"><img src="{{hotIcon}}" class="sidebar_logo" /></a>
	</div>
</div>